<div class="column is-full" id="comment_<%= comment.id %>">
  <p><b><%= comment.user.email %>:</b> <%= comment.description %></p>
  <% if user_signed_in? %>
    <% if comment.user.id == current_user.id %>
    <%= link_to t('page.links.delete', model: comment.model_name), post_comment_path(@post, comment), 
                                                      method: :delete,
                                                      id: 'delete_comment',
                                                      class: 'button is-warning is-rounded is-small', 
                                                      data: {remote: true} %>
  <% end %>  
  <% end %>
   
</div>