  <nav class="navbar hero is-small is-info is-bold" id="footer">
  <div class="hero-body">
    <div class="container">
      <span>Todos os direitos reservados. 2020 - Demo Blog</span>
    </div>
  </div>
</nav>