<%= content_for :page_title, t('page.title.about')  %>

<section class="section">
  <div class="container">
    <h2 class="title">
      <%= t('page.title.about') %>
    </h2>
    <h3 class="subtitle">
      <%= t('page.subtitle.about') %>
    </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, quam et libero iste cupiditate doloribus veniam nisi harum consectetur, fugit repellendus dicta hic! Possimus quia voluptas consequatur sint totam tempora.</p>
    
  </div>
</section>