<%= content_for :page_title, "About" %>

<section class="section">
  <div class="container">
    <h2 class="title">
      About
    </h2>
    <h3 class="subtitle">
      blog demo
    </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, quam et libero iste cupiditate doloribus veniam nisi harum consectetur, fugit repellendus dicta hic! Possimus quia voluptas consequatur sint totam tempora.</p>
    
  </div>
</section>