<%= content_for :page_title, t('page.title.index') %>
<section class="section">
  <div class="container is-small">
    <h2 class="subtitle is-pulled-right" id="total_post">
      <%= t('page.subtitle.total_post', count: @posts.count) %>
    </h2>
  </div>
</section>

<%= render @posts %>

