<%= content_for :page_title, t('page.title.new', model: @post.model_name) %>

<section class="section">
  <div class="container">
    <h2 class="title">
      <%= t('page.title.new', model: @post.model_name) %>
    </h2>
    <%= render 'form', post: @post %>    
  </div>
</section>